.c-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    @extend .u-b4;
    width: rem(63px);
    height: rem(63px);
    justify-content: center;
    justify-items: center;
    padding: rem(5px);
    border-radius: rem(5px);

    &-active {
      background-color: $primary-white;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
