.c-search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-white;
  border-radius: rem(10px);
  box-shadow: 0 1px 2px -1px $shadow-color;
  width: rem(700px);
  @include fluidValue("margin-left", "s-40");

  @include mq(lg) {
    width: rem(525px);
  }

  @include mq(md) {
    width: rem(500px);
  }
  @include mq(sm) {
    width: rem(250px);
  }

  &__inner {
    display: flex;
    flex-direction: row;
  }

  .icon {
    margin-left: rem(5px);
    margin-right: rem(5px);
  }

  input {
    outline: none;
    border: none;
    opacity: 0.4;
  }
}
