.c-header {
  display: flex;
  flex-direction: row;
  @include fluidValue("padding-bottom", "s-24");
  position: fixed;
  @include fluidValue("padding-right", "s-320");
  z-index: 9999;

  @include mq(lg) {
    @include fluidValue("padding-right", "s-320");
  }

  @include mq(md) {
    @include fluidValue("padding-right", "s-4");
    flex-direction: column;
    justify-content: right;
  }
  @include mq(sm) {
   @include fluidValue("padding-right", "s-4");
  }

  .logo {
    @include fluidValue("margin-left", "s-40");
    width: rem(139px);
    height: rem(39px);
  }
}
