.c-panel {
  background-color: $primary-white;
  border-radius: rem(8px);
  max-height: 500px;
  overflow-y: scroll;
  @include fluidValue("padding", "s-12");

  h2:first-child {
    display: flex;
    flex-direction: row;

    .icon {
      @include fluidValue("margin-right", "s-12");
    }
  }
}

.news {
  li {
    @include fluidValue("padding-bottom", "s-12");
    @include fluidValue("padding-top", "s-12");
    @include fluidValue("padding-right", "s-12");
  }
}