.u-lyt {
  font-family: $font-primary;
  @include fluidValue("padding-top", "s-104");
  @include fluidValue("padding-bottom", "s-104");
  @include fluidValue("margin-right", "s-180");
  @include fluidValue("margin-left", "s-180");

  @include mq(lg) {
    @include fluidValue("margin-right", "s-180");
    @include fluidValue("margin-left", "s-180");
  }

  @include mq(md) {
    @include fluidValue("margin-right", "s-56");
    @include fluidValue("margin-left", "s-56");
  }
  @include mq(sm) {
    @include fluidValue("margin-right", "s-20");
    @include fluidValue("margin-left", "s-20");
  }
}

.o-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  @include fluidValue("padding-top", "s-104");
}

.main {
  min-height: 100vh;
  @include fluidValue("margin-left", "s-120");

  @include mq(lg) {
    @include fluidValue("margin-left", "s-120");
  }

  @include mq(md) {
    @include fluidValue("margin-left", "s-56");
  }
  @include mq(sm) {
    @include fluidValue("margin-left", "s-20");
  }

  &__inner {
    display: grid;
    grid-gap: 41px;
    grid-template-columns: 322px 322px 322px;
    /*flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;*/
  }
}
