@use "sass:math";

.u-a5 {
  @include fontSize("a5");

  font-family: $font-primary;
  line-height: 100%;
  letter-spacing: normal;
}

.u-a4 {
  @include fontSize("a4");

  line-height: 107%;
  letter-spacing: math.div(-1.33, 64) * 1em;
}

.u-a3 {
  @include fontSize("a3");

  font-family: $font-primary;
  line-height: 116%;
  letter-spacing: math.div(-1, 48) * 1em;
}

.u-a2 {
  @include fontSize("a2");

  line-height: 112%;
  letter-spacing: math.div(-0.8, 41) * 1em;
}

.u-a1 {
  @include fontSize("a1");

  font-family: $font-primary;
  line-height: 130%;
  letter-spacing: normal;
}

.u-b0 {
  @include fontSize("b0");

  line-height: 144%;
  letter-spacing: normal;
}

.u-b1 {
  @include fontSize("b1");

  font-family: $font-primary;
  line-height: 110%;
  letter-spacing: normal;
}

.u-b2 {
  @include fontSize("b2");
  line-height: 133%;
  letter-spacing: math.div(-0.1, 15) * 1em;
}

.u-b3 {
  @include fontSize("b3");

  font-family: $font-primary;
  line-height: 110%;
  letter-spacing: normal;
}

.u-b4 {
  @include fontSize("b4");

  font-family: $font-primary;
  line-height: 125%;
  letter-spacing: normal;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-b-blue {
  text-transform: uppercase;
  color: $primary-blue;
  font-family: $font-primary;
  @include fontSize("b4");
}

.u-border-bottom {
  border-bottom: 2px solid $border-opacity;
}