@charset "utf-8";

@import "tools/tools.index";
@import "settings/settings.index";
@import "utilities/utilities.index";
@import "generics/generics.index";
@import "elements/elements.index";
@import "components/components.index";



.icon {
  width: rem(20px);
  height: rem(20px);
}


.border-bottom {
  border-bottom: 2px solid $border-opacity;
}

.o-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  @include fluidValue("padding-top", "s-104");
}



.main {
  min-height: 100vh;
  @include fluidValue("margin-left", "s-120");


  @include mq(lg) {
    @include fluidValue("margin-left", "s-120");
  }

  @include mq(md) {
    @include fluidValue("margin-left", "s-56");
  }
  @include mq(sm) {
    @include fluidValue("margin-left", "s-20");
  }

  &__inner {
    display: grid;
    grid-gap: 41px;
    grid-template-columns: 322px 322px 322px;
    /*flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;*/


  }
}





.c-panel {

  background-color: $primary-white;
  border-radius: rem(8px);
  //smax-width: 321px;
  max-height: 500px;
  overflow-y: scroll;
  @include fluidValue("padding", "s-12");

 h2:first-child{
   display: flex;
   flex-direction: row;

   .icon{
     @include fluidValue("margin-right", "s-12");
   }
 }
}

.news {
  li {
    @include fluidValue("padding-bottom", "s-12");
    @include fluidValue("padding-top", "s-12");
    @include fluidValue("padding-right", "s-12");
  }
}

.item{
  grid-column: 1;
}

.item-column {
  grid-column: 3;
  grid-row: 1 / span 3;
}

