$primary-grey: #F2F2F2;
$primary-white: #FFFFFF;
$primary-red: #BB1E1E;
$primary-black: #000000;
$primary-blue: #1E71BB;
$secondary-grey: #979797;

$shadow-color: #C8CAD1;
$border-opacity: rgb(151, 151, 151, 0.1);