$primary-grey: #f2f2f2;
$primary-white: #ffffff;
$primary-red: #bb1e1e;
$primary-black: #000000;
$primary-blue: #1e71bb;
$secondary-grey: #979797;

$shadow-color: #c8cad1;
$border-opacity: rgb(151, 151, 151, 0.1);
